<div class="blogpage" style="height:50em;">

	<div class="leftblogpage" style="width:49%;height:100%;float:left">
		<h2 style="padding-top:4em;text-align:center;color:white">Tech Blog</h2>
			<ul style="text-align:center;">
				<li>Git</li>
				<li>Css Design</li>
				<li>Arrays - Hashes</li>
				<li>Enumerables</li>
				<li>Ruby Classes</li>
				<li>OOP- Concepts</li>
				<li>Javascript</li>
				<li>Tech</li>
			</ul>
	</div>

	<div class="rightblogpage" style="width:49%;height:100%;float:right">
		<h2 style="padding-top:4em;text-align:center;color:white">Cultural Blog</h2>
			<ul style="text-align:center;">
				<li>Chef's-Kitchen</li>
				<li>Thinking-Style</li>
				<li>Tech-Issues</li>
				<li>Feedback</li>
				<li>Stereotype-Threat</li>
				<li>Values</li>
				<li>Conflict</li>
				<li>Questions</li>
			</ul>
	</div>

</div>