<div class="portfolio">

	<div id="gallery" style="padding-top:3em">
            <a href="http://shop-nfc.com/" id="new"></a>
            <a href="2" class="preowned"></a>
            <a href="3" class="serviceparts"></a>
            <a href="4" class="specials"></a>
            <a href="5" class="diamond"></a>
    </div>

</div>