<div class="enterpage" id="projects">
	<div class="leftarrow" style="width:20%"><%= link_to "#{image_tag('leftarrow.png')}".html_safe, :controller => :welcome, :action => "index" %>
	</div>
				
	<div class="aboutmedescription" style="text-align:center;margin-top:9em; color:aliceblue; font-size:25px;font-family:fantasy">
		Click to see list of projects
	</div>
	<div class="rightarrow" style="width:20%"><%= image_tag 'rightarrow' %>
	</div>
</div>

