
<div class="container landing-page">

	<div class = "left" style="float: left; width:26%; height:50em;opacity:0.5">

	</div>

		

			<div class="aboutme" style="text-align:center;">
			<%= link_to "Learn More", users_path, class: "btn btn-default learnmorebutton" %>
		
			</div>
			
			<div class="copyright">
				&copy; Brian Park 2015
			</div>
		
	
</div>



