// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.enterpage {
	position:absolute;
    width:100%;
	border-style: solid;
	border-width:thin;
	border-color:black;
	height:50em;
	text-align:left;
	background-image:url("/assets/japan.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom center;
    margin-left:0px;
}



.leftarrow {
	
	display: inline-block;
    vertical-align: middle;
    opacity:0.2;
    position: absolute;
    top: 20.3em;
    left: 0;
    right: 0;

    justify-content: center; /* add to align horizontal */
    align-items: center; 
}

.rightarrow {
	
    vertical-align: middle;
    width:128px;
    height:128px;
    display:inline-block;
    opacity:0.2;
    width: 20%;
    position: absolute;
    top: 20.3em;
    bottom: 0;
    right: 0;
    text-align: right;
    justify-content: center;
    align-items: center;
}



#aboutme2 {
    
    position:absolute;
    width:100%;
    border-style: solid;
    border-width:thin;
    border-color:black;
    height:50em;

    text-align:left;
    background-image:url("/assets/FullSizeRender.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
    margin-left:0px;
}

.aboutmedescription {
    
    text-align: center;
    font-weight: bolder;
    margin-top: 9em;
    color: black;
    font-family: fantasy;
    
    font-size: 17px;
    margin-right: 10em;
    margin-left: 10em;
}

#projects {
    
    position:absolute;
    width:100%;
    border-style: solid;
    border-width:thin;
    border-color:black;
    height:50em;
 
    text-align:left;
    background-image:url("/assets/projects.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
    margin-left:0px;
}

.contact {
    margin: 2em auto;
}

.contact a {
    
    margin:auto 2em;
    color:white;
    text-decoration:none;
}


.contact a:hover {

    color:#780000;

}

.contactpage {
    
    background-image: url("/assets/contactbackground.jpg");
    min-height: 50em;
    max-height: 70em;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.portfolio {
    
    background-image:url("/assets/portfoliobackground.jpg");
    height:50em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:100%;
}

#gallery {
    
    position:relative;
    display:inline-block;
    text-align:center;

}
#gallery a {
    
    height:15em;
    min-height:5em;
    width:20%;
    width:15em;
    border-style:solid;
    border-color:white;
    position:relative;
    display:inline-block;
    margin:5em 5em;
    background-color:whitesmoke;
    opacity:0.5;

}

#gallery #new {
    
    background-image: url("/assets/nfc.gif");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}


ul li {
    
    text-decoration:none;
    list-style-type:none;
    color:white;
    font-size:20px;
}